<main>
    <section class="section section-shaped section-lg" style="padding-top:4rem !important;padding-bottom:0 !important; ">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="countryContainer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-6" (click)="Saudi_Arabia()">
                        <div class="flag-img">
                            <img src="./assets/img/download.png" alt="">

                            <div class="country_name" >
                                Saudi Arabia
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-6" (click)="UAE()">
                        <div class="flag-img">
                            <img src="./assets/img/UAE.png" alt="">

                            <div class="country_name" >
                                UAE
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-6" (click)="Egypt()">
                        <div class="flag-img">
                            <img src="./assets/img/Egypt.jpg" alt="">

                            <div class="country_name" >
                                Egypt
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4 col-sm-6 col-6"  (click)="Halti()">
                        <div class="flag-img">
                            <img src="../assets/img/haiti.svg" alt="">

                            <div class="country_name">
                                Halti
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-4 col-sm-6 col-6" (click)="USA()">
                        <div class="flag-img">
                            <img src="../assets/img/usa.png" alt="">
                            <div class="country_name" >
                                USA
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-4 col-sm-6 col-6" (click)="domician()">
                        <div class="flag-img">
                            <img src="../assets/img/domician.svg" alt="">
                            <div class="country_name" >
                                domician Republic
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="choose-language">
                            <span>Choose any Language </span>
                       
                            <a (click)="myCallingValue('en')">English</a>
                            <a (click)="myCallingValue('ar')">Arabic</a>
                        </div>
                    </div>
                    
                </div>
            </div>












        </div>
    </section>
</main>