li a {
    cursor: pointer;
    padding: 10px 15px !important;
}

.ni-3x {
    font-size: 20px;
}

.languageseclect {
    color: #ffffff;
    background: transparent;
    outline: none;
    border: none;
}

option {
    color: #000000 !important;
}

.navbar-main {
    padding: 4px !important;
    background: #172b4d;
    height: 65px;
    // / padding-bottom: 16px; /
}

.filterselect option {
    padding: 10px;
}

li.nav-item a.sellButton {
    color: #ffffff;
    font-size: 14px;
    word-spacing: 3px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px 14px !important;
}