<div class="modal-header addpostmodalheader">
    <h5 class="modal-title text-center">Promote the listing</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body addpostmodalbody">
    <h5>Highlight Listings?</h5>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="modal-tab">
    <!-- <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row xstabs" type="pills">
    <ngb-tab title="Description">
    <ng-template ngbTabContent>
    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Details">
    <ng-template ngbTabContent>
    Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Comments">
    <ng-template ngbTabContent>
    <form action="">
    <div class="form-group">
    <textarea style="background:#f1f1f1" name="" id="" cols="30" rows="3" class="form-control"></textarea>
    </div>
    <button _ngcontent-kel-c115="" type="button" style="font-size: 13px;text-transform: capitalize;" class="float-right p-2 btn btn-1 btn-primary">Post Comment</button>
    </form>
    </ng-template>
    </ngb-tab>
    </ngb-tabset> -->


    <div >
        urgent
    </div>
    <div >
        Add
    </div>
    </div>
    </div>
    <div class="modal-footer">
    <div class="left-side">
    <button type="button" class="btn btn-default btn-link" (click)="activeModal.close('Close click')">Never mind</button>
    </div>
    <div class="divider"></div>
    <div class="right-side">
    <button type="button" class="btn btn-danger btn-link" (click)="cancel()" (click)="activeModal.close('Close click')">DELETE</button>
    </div>
    </div>